#{extends 'main.html' /}
#{set title:'专辑信息' /}

#{set 'moreStyles'}
    #{get 'moreStyles' /}
    <link href="@{'/public/stylesheets/carousel.css'}" rel="stylesheet">
<style type="text/css">
    .box {
        margin: 5px;
        padding: 5px;
        font-size: 11px;
        line-height: 1.4em;
        float: left;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
    }

    .box h2 {
        font-size: 14px;
        font-weight: 200;
    }

    .box img,
    #tumblelog img {
        display: block;
        width: 100%;
    }
</style>
#{/set}

#{set 'moreScripts'}
    #{get 'moreScripts' /}
<script src="@{'/public/javascripts/jquery.masonry.min.js'}"></script>
<script src="@{'/public/javascripts/carousel.js'}"></script>
<script>
    $(function(){

        var $container = $('#album-detail');

        $container.imagesLoaded(function(){
            $container.masonry({
                itemSelector: '.box'//,
//                columnWidth: 100
            });
        });

        carouselInstance = $("#carousel-gallery").touchCarousel({
            itemsPerPage: 1,
            scrollbar: true,
            scrollbarAutoHide: true,
            scrollbarTheme: "dark",
            pagingNav: false,
            snapToItems: false,
            scrollToLast: true,
            useWebkit3d: true,
            loopItems: false
        }).data('touchCarousel');
    });
</script>
#{/set}


<div id="carousel-ajax-container" style="height: 430px; width: 100%; ">
    <div id="carousel-gallery" class="touchcarousel  black-and-white">
        <ul class="touchcarousel-container">
            #{list items:album.pictures, as:'_picture'}
                <li class="touchcarousel-item">
                    <a href="@{Pictures.show(_picture.id)}" title="拖动浏览，点击查看大图" target="_blank">
                        <img src="${_picture.fileName}" alt="${_picture.title}" height="400" >
                    </a>
                </li>
            #{/list}
        </ul>
    </div>
</div>